.vscode
.vscode/**
.vscode-test/**

test/**
out/test/**

src/**
images/**
**/*.map
.gitignore
npm-debug.log
.travis.yml
node_modules

tsconfig.json
**/tsconfig.json
tslint.json
**/tslint.json
webpack.config.js

# All typescript files (not needed during runtime)
**/*.ts
